<a class="" {{action "displayAddHolidayForm"}}>
  <i class="fa fa-plus"></i>
  {{t "holiday.add"}}
</a>

{{#message-box btn1Text=(t "save") btn1Callback=(action "addHoliday") btn2Text=(t "cancel") btn2Callback=(action "resetForm") isVisible=displayUserPrompt classNames="popupOverlay ui holidayForm"}}

    <div class="row">
      <div class="small-12 columns {{if invalidName 'has-error'}}">
        {{input name='name' value=holidayName required="true" placeholder=(t "holiday.name")}}
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns {{if invalidDate 'has-error'}}">
        {{holiday-calender
          name='selectedDate'
          id=(concat this 'selectedDate')
          value=''
          selection=selectedDate
          required='true'
          allHolidays=allHolidays
          placeholder=(t "holiday.date")
          pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
        <i class="fa fa-calendar calender_icon"></i>
      </div>
    </div>

{{/message-box}}
