{{#if displayButton}}
  <div class="small-8 small-offset-2 columns">
    <a {{action 'confirmCloseOffer'}} class="button expand">{{t "logistics.complete_review"}}</a>
  </div>
{{else}}
  <a {{action 'confirmCloseOffer'}}>{{t "logistics.complete_review"}}</a>
{{/if}}

{{#message-box btn1Text=(t "logistics.complete_review") btn1Callback=(action "completeReview") btn2Text=(t "receive.receiving.not_now")  isVisible=displayUserPrompt classNames="popupOverlay complete_receive_overlay" summaryText=summaryText}}

  <div class= "popup_heading">{{t "logistics.finished_review"}}</div>

  {{#unless rejectOffer}}
    <div class="ui {{if invalidSelection 'has-error'}}">
      {{select-list
        content=gogovanOptions
        on-change=(action (mut selectedGogovanOption))
        selectedValue=selectedGogovanOption
        selectArrow=true
        prompt=ggvOptionPlaceholder}}
    </div>
  {{/unless}}

  <div class= "popup_subheading">{{t "logistics.add_message_to_donor"}}</div>

  <div class="{{if invalidMessage 'has-error'}} ui">
    {{auto-resize-textarea data-autoresize=true id=(concat this "closeOfferMessage") name="closeOfferMessage" value=closeMessage  }}
  </div>
{{/message-box}}
