{{#if hasMultiplePackages}}
  <div class="text-center receive-group-header">{{item.itemType.name}}</div>
{{/if}}

{{#each packages as |package idx|}}
  <div>
    <div class="package-name package-{{pState}} {{if package.isDispatched 'dispatched'}} {{if package.isDesignated 'designated'}}">
      <div class="small-4 columns">
        {{#if (is-equal pState "missing")}}
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {{capitalize-string pState}}
        {{else if package.isDispatched}}
          <i class="fa fa-ship" aria-hidden="true"></i>
          Dispatched
        {{else if package.isDesignated}}
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          Designated
        {{else}}
          {{#if (is-equal pState "expecting")}}
            Accepted
          {{else}}
            {{capitalize-string pState}}
          {{/if}}
        {{/if}}
      </div>
      <div class="small-4 columns location-name">
        <i class="fa fa-map-marker"></i>
        {{#if package.inventoryNumber}}
          {{package.location.name}}
        {{else}}
          NA
        {{/if}}
      </div>
      <div class="small-4 columns inventory-number">
        <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i>
        {{#if package.inventoryNumber}}
          {{package.inventoryNumber}}
        {{else}}
          NA
        {{/if}}
      </div>
    </div>
    <img src="{{package.displayImageUrl}}" />
    <div class="package-description">
      <div class="ellipsis name one-line-ellipsis">
        {{package.quantity}} x {{package.packageName}}
      </div>
      {{receive-menu packageId=package.id}}
      <div class="ellipsis two-line-ellipsis">
        {{js-or package.notes item.donorDescription}}
      </div>
      <br/>
      {{package.dimensions}}
    </div>
  </div>
  <div class="sep"></div>
{{/each}}
