<div class="tabs-content transport-content">
  <section class="main-section">
    <div class="row ui">
      {{#if model.showDeliveryDetails}}
        {{partial "review_offer/delivery_details"}}
      {{else if model.isCancelled}}
        <div class='noTransportItems'>
          <i class="fa fa-info-circle fa-5x"></i>
          <div class='info-text'>
            {{t "logistics.offer_cancelled_by" firstName=model.createdBy.firstName lastName=model.createdBy.lastName}}
            {{display-datetime model.cancelledAt format='h:mm a, ddd Do MMM'}}
          </div>
        </div>
      {{else}}
        {{#if model.allItemsRejected}}
          <div class='noTransportItems'>
            <i class="fa fa-info-circle fa-5x"></i>
            <div class='info-text'>{{t "logistics.no_items"}}</div>

            {{#if model.isClosed}}
              <div class='info-text'>{{t "logistics.offer_closed"}}</div>
            {{else}}
              {{complete-review-offer offer=model displayButton=true}}
            {{/if}}
          </div>
        {{else}}
          {{#if pendingItem}}
            <p>
              <p><span class="icon-no-items"></span></p>
              <p class="no-items">
                {{t "logistics.finish_review_request"}}
              </p>
            </p>
          {{else}}

            {{#if model.isReviewed}}
              <div class="small-12 columns">
                <h3>{{t "logistics.accepted_items"}} ({{accepted.length}})</h3>
                {{image-full-preview items=accepted}}
              </div>

              <div class="small-12 columns">
                <div class = 'transport_details'>
                  {{t "logistics.gogovan_requirement"}}: {{model.gogovanTransport.name}}
                </div>

                <div class="small-8 small-offset-2 columns transport_details">
                  {{#link-to 'offer.plan_delivery' model class="button expand"}}{{t 'logistics.arrange_transport'}}{{/link-to}}
                </div>
              </div>

            {{else}}
              <div class='noTransportItems'>
                <i class="fa fa-info-circle fa-5x"></i>
                <div class='info-text'>Please complete review first</div>
              </div>
              {{complete-review-offer offer=model displayButton=true}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </section>
</div>
