<section class="main-section accept_widget">
  <div class="row ">
    {{#if itemType}}
      {{#validatable-form class="form-horizontal" action="save" on="submit"}}

        {{#each packages key="@index" as |pkg index|}}
          <div class="details row">
            <div class="small-2 icon-center columns">
              {{#if (js-x "this > 0" index)}}
              <i class='fa fa-minus-circle fa-2x icon' {{action "removePackage" index on="click" }}></i>
              {{/if}}
            </div>
            <div class="small-10 columns">
              <div class="small-12 columns detail_container">
                <div class="row top">
                  <div class="small-3 columns">

                    {{package-image package=pkg index=index setPackageImage="setPackageImage"}}

                  </div>
                  <div class="small-7 columns head">
                    <span class="ui">
                      {{select-list
                        content=subPackageTypes
                        on-change=(action (mut pkg.packageTypeId))
                        selectedValue=pkg.packageType
                        prompt=(t 'placeholder.package_type')
                        required='true'
                      }}
                    </span>
                  </div>
                  <div class="small-2 columns icon" {{action "toggleComment" index on="click"}}>
                    <i class="fa fa-lg {{if pkg.hideComment 'fa-plus' 'is-hide'}}"></i>
                  </div>
                </div>
                <div class="{{if pkg.hideComment 'is-hide'}} row bottom ui">
                  <div class="small-10 columns head">
                    {{input type="text" name="comment" value=pkg.notes placeholder=(t "placeholder.comments") maxlength="50" required="required" pattern=".*\S.*" }}
                  </div>
                  <div class="small-2 columns icon" {{action "toggleComment" index on="click"}}>
                    <i class="fa fa-minus fa-lg"></i>
                  </div>
                </div>
                <div class="row bottom">
                  <div class="small-6 columns ui inner">
                    {{numeric-input id=(concat 'qty' index) name="qty" value=pkg.quantity placeholder=(t "placeholder.qty") maxlength="8" required='true' pattern="\d{1,8}"}}
                  </div>
                  <div class="small-2 columns ui inner">
                    {{numeric-input name="length" id=(concat 'length' index) value=pkg.length placeholder=(t "placeholder.length") maxlength="8" pattern="\d{1,8}"}}
                  </div>
                  <div class="small-2 columns ui inner">
                    {{numeric-input id=(concat 'width' index) name="width" value=pkg.width placeholder=(t "placeholder.width") maxlength="5" pattern="\d{1,5}"}}
                  </div>
                  <div class="small-2 columns ui inner">
                    {{numeric-input id=(concat 'height' index) name="height" value=pkg.height placeholder=(t "placeholder.height") maxlength="5"  pattern="\d{1,5}" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        {{/each}}

        <div class="small-12 columns">
          <div class='row'>
            <div class='small-2 columns icon-center'>
              <i class='fa fa-plus-circle fa-2x icon' {{action "addPackage" on="click"}}></i>
            </div>
            <div class='small-9 columns link-blue add_package_link' {{action "addPackage" on="click"}}>{{t "review_item.add_component"}}</div>
            <div class='small-1 columns'>&nbsp;</div>
          </div>
          <br>
          <div class="row accept_buttons">
            {{#if isItemAccepted}}
              <div class="small-11 small-offset-1  columns">
                {{#online-button disabledOverride=offer.isFinished id="acceptItem" classNames="button expand accept_item"}}
                  {{t "save"}}
                {{/online-button}}
              </div>
            {{else}}
              <div class="small-6 columns">
                {{#online-button id="saveItem" classNames="button expand save_item" disabled=offer.isFinished didInsertElement=(action "setupAcceptClick" "saveItem")}}
                  {{t "review_item.save_item"}}
                {{/online-button}}
              </div>
              <div class="small-6 columns">
                {{#online-button id="acceptItem" classNames="button expand accept_item" disabled=offer.isFinished didInsertElement=(action "setupAcceptClick" "acceptItem" true)}}
                  {{t "review_item.accept_item"}}
                {{/online-button}}
              </div>
            {{/if}}
          </div>
        </div>

      {{/validatable-form}}

    {{else}}
      <p>
        <i class="icon-empty-items fa fa-info-circle fa-5x"></i>
        <p class="no-items">{{t 'reject.select_type'}}</p>
      </p>
    {{/if}}
  </div>
</section>
