{{#scroll-to-bottom}}

  <nav class="tab-bar sticky_title_bar">
    <section class="left-small">
      {{#link-to 'review_offer.items' offer classNames="back"}}{{t "back"}}{{/link-to}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{t "messages_title"}}</h1>
    </section>
  </nav>

  <section class="main-section offer_details offer_messages_section">
    <div class="row">
      <div class="small-12 columns">

        <dl class="tabs">
          {{#link-to 'offer.donor_messages' tagName="dd" classNames="small-6 columns text-center"}}
            {{#link-to 'offer.donor_messages'}}
              <i class="fa fa-comment-o fa-2x"></i>
              <i class="fa fa-circle fa-1x unread {{unless offer.hasUnreadDonorMessages 'hidden'}}"></i>
              <span class='tab_title'>{{t "offer.donor_messages"}}</span>
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'offer.supervisor_messages' tagName="dd" classNames="small-6 columns text-center"}}
            {{#link-to 'offer.supervisor_messages'}}
              <i class="fa fa-comment-o fa-2x"></i>
              <i class="fa fa-circle fa-1x unread {{unless offer.hasUnreadPrivateMessages 'hidden'}}"></i>
              <span class='tab_title'>{{t "offer.supervisor_messages"}}</span>
            {{/link-to}}
          {{/link-to}}
        </dl>

      </div>
    </div>

    {{partial 'message_template'}}
  </section>

{{/scroll-to-bottom}}
