<span class="item-image image">
  <i class="fa fa-bullhorn thumb"></i>
</span>

<span class="info">
  <div class="row item-name">
    <div class="small-9 columns">
      {{t 'offer.offer_details.offer_messages'}}
    </div>
    <div class="small-3 columns message-time right">
      {{message-time model.lastMessage.createdAt}}
    </div>
  </div>

  <div class="row">
    <div class="small-1 columns">
      <span class="no-avatar {{unless model.lastMessage 'hidden'}}">
        {{model.lastMessage.sender.nameInitial}}
      </span>
    </div>
    <div class="small-10 columns">
      <div class='ellipsis two-line-ellipsis message-text'>
        {{{model.lastMessage.body}}}
      </div>
    </div>
    <div class="small-1 columns right">
      <span class="unread_length {{unless model.unreadOfferMessages.length 'hidden'}}">
        {{model.unreadOfferMessagesCount}}
      </span>
    </div>
  </div>
</span>
