<a {{action "toggleOfferOptions"}}><i class="fa fa-ellipsis-v options"></i></a>

<div class="options_menu_list {{if displayOfferOptions '' 'hidden'}}">
  {{#unless offer.isFinished}}
    <div class="add_item_option option_menu">
      <a id="camera_icon" {{action "addItem"}} title="Camera" >
        <i class="fa fa-camera"></i>
        {{t "review_offer.options.add_item"}}
      </a>
    </div>
  {{/unless}}

  {{#if offer.allowResubmit}}
    <div class="option_menu">
      <a {{action "submitOffer"}} >
        <i class="fa fa-shopping-cart"></i>
        {{t "review_offer.options.submit_offer"}}
      </a>
    </div>
  {{/if}}

  {{#unless offer.hideInactiveOfferOption}}
    <div class="option_menu">
      {{inactive-offer offer=offer toggleAction="toggleOfferOptions"}}
    </div>
  {{/unless}}

  {{#unless offer.hideCancelOfferOption}}
    <div class="option_menu">
      {{cancel-offer offer=offer toggleAction="toggleOfferOptions"}}
    </div>
  {{/unless}}

  <div class="option_menu">
    <a {{action "cancelOffer"}}>
      <i class="fa fa-trash"></i>
      {{t "review_offer.options.delete_offer"}}
    </a>
  </div>

  {{#if offer.canMerged}}
    <div class="merge_option option_menu">
      {{#link-to "offer.merge" offer}}
        <i class="fa fa-compress"></i>
        {{t "review_offer.options.merge_offer"}}
      {{/link-to}}
    </div>
  {{/if}}

</div>
