<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>{{t "inbox.quick_links"}}</label></li>
    <li>{{#link-to 'my_list'}}{{t "inbox.my_list"}} ({{myOffersCount}}){{/link-to}}</li>
    <li>{{#link-to 'offers.submitted'}}{{t "inbox.new_offers"}} ({{newOffersCount}}){{/link-to}}</li>
    <li><a href="#" {{action 'logMeOut'}}>{{t "application.logout"}}</a></li>

    <li><label>{{t "inbox.all_offers"}}</label></li>
    <li>{{#link-to 'in_progress'}}{{t "inbox.in_review"}} ({{inProgressOffersCount}}){{/link-to}}</li>
    <li>{{#link-to 'scheduled'}}{{t "inbox.scheduled_offers"}} ({{scheduledCount}}){{/link-to}}</li>
    <li>{{#link-to 'offers.receiving'}}{{t "inbox.receiving"}} ({{receivingOffersCount}}){{/link-to}}</li>
    <li>{{#link-to 'finished'}}{{t "inbox.finished"}}{{/link-to}}</li>
    {{#if session.currentUser.isSupervisor}}
      <li>{{#link-to 'users'}}{{t "inbox.users"}}{{/link-to}}</li>
      <li>{{#link-to 'holidays'}}{{t "inbox.holidays"}}{{/link-to}}</li>
    {{/if}}
  </ul>

  {{partial "app_version"}}
</aside>
