{{partial 'offers/nav_bar'}}

<section class="main-section review_offer">
  <div class="row">
    <div class="small-12 columns tab_row">
      <dl class="tabs" data-tab>

        {{#link-to 'finished.received' tagName="dd" classNames="small-4 columns text-center"}}
          {{#link-to 'finished.received'}}
            <div>{{t "finished.received"}}</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'finished.cancelled' tagName="dd" classNames="small-4 columns text-center"}}
          {{#link-to 'finished.cancelled'}}
            <div>{{t "finished.cancelled"}}</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'finished.inactive' tagName="dd" classNames="small-4 columns text-center"}}
          {{#link-to 'finished.inactive'}}
            <div>{{t "finished.inactive"}}</div>
          {{/link-to}}
        {{/link-to}}
      </dl>
    </div>
  </div>

  {{outlet}}
</section>
