{{partial 'offers/nav_bar'}}

<section class="main-section review_offer">
  <div class="row">
    <div class="small-12 columns tab_row">
      <dl class="tabs" data-tab>

        {{#link-to 'in_progress.reviewing' tagName="dd" classNames="small-6 columns text-center"}}
          {{#link-to 'in_progress.reviewing'}}
            <div>{{t "reviewing"}}({{underReviewCount}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'in_progress.reviewed' tagName="dd" classNames="small-6 columns text-center"}}
          {{#link-to 'in_progress.reviewed'}}
            <div>{{t "reviewed"}}({{reviewedCount}})</div>
          {{/link-to}}
        {{/link-to}}
      </dl>
    </div>
  </div>

  {{outlet}}
</section>
