{{partial 'offers/nav_bar'}}

<section class="main-section review_offer">
  <div class="row">
    <div class="small-12 columns tab_row">
      <dl class="tabs" data-tab>

        {{#link-to 'my_list.reviewing' tagName="dd" classNames="small-3 columns text-center"}}
          {{#link-to 'my_list.reviewing'}}
            <div>{{t "reviewing"}}({{inProgressCount}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'my_list.reviewed' tagName="dd" classNames="small-3 columns text-center"}}
          {{#link-to 'my_list.reviewed'}}
            <div>{{t "reviewed"}}({{reviewedCount}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'my_list.scheduled' tagName="dd" classNames="small-3 columns text-center"}}
          {{#link-to 'my_list.scheduled'}}
            <div>{{t "scheduled.title"}}({{scheduledCount}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'my_list.finished' tagName="dd" classNames="small-3 columns text-center"}}
          {{#link-to 'my_list.finished'}}
            <div>{{t "finished.title"}}</div>
          {{/link-to}}
        {{/link-to}}
      </dl>
    </div>
  </div>

  {{outlet}}
</section>
