<nav class="tab-bar my-notifications">
  <div class="row">
    <div class="small-5 large-6 columns link">
      <a href="#" {{action 'toggleShowUnread'}}>
        {{#if showUnread}}
          {{t "my_notifications.all_notifications"}}
        {{else}}
          {{t "my_notifications.show_unread"}}
        {{/if}}
      </a>
    </div>
    <div class="small-5 large-6 columns link">
      <a href="#" {{action 'markAllRead'}}>
        {{t "my_notifications.mark_all_read"}} <i class="fa fa-check"></i>
      </a>
    </div>
    <div class="small-2 columns">
    </div>
  </div>
</nav>

<section class="main-section">
  <div class="row">
    <div class="small-12 columns">

      {{#if myNotifications}}
        <ul class="list list-notifications">

          {{#vertical-collection
            containerSelector="body"
            content=myNotifications
            alwaysUseDefaultHeight=true
            as |notification|
            }}
              <li>{{partial "notificationThread"}}</li>
          {{/vertical-collection}}

        </ul>
      {{else if showUnread}}
        <div class="no_unread_message">
          <div class="child_icon">
            <i class="fa fa-child"></i>
          </div>
          <div class="info-message">
            {{t "my_notifications.no_unread"}}
          </div>
        </div>
      {{/if}}

    </div>
  </div>
</section>
