<a {{action "view" notification.id}}>
  <div class="thread {{if notification.unreadCount 'unread'}}">
    <span class="thread_image">
      {{#if notification.item}}
        <img src={{notification.item.displayImageUrl}} class="thumb" />
      {{else}}
        <i class="fa fa-bullhorn thumb"></i>
      {{/if}}
    </span>
    <span class="thread_info">
      <div class="row">
        <div class="small-8 large-10 columns">
          <div class='ellipsis one-line-ellipsis message-text'>
            {{#if notification.item}}
              {{notification.item.donorDescription}}
            {{else}}
              {{t "my_notifications.heading" name=notification.offer.createdBy.fullName}}
            {{/if}}
          </div>

          <div class="sender">
            {{notification.sender.fullName}}
            <i class="fa fa-clock-o"></i>
            {{message-time notification.createdAt}}
          </div>
        </div>
        <div class="small-4 large-2 columns thread_icon right" {{action 'markThreadRead' notification on='click' bubbles=false}}>
          {{#if notification.unreadCount}}
            <span class="unread">
              <div class="unread_length">{{notification.unreadCount}}</div>
            </span>
          {{/if}}
          {{#if notification.isPrivate}}
            <i class="fa fa-users"></i>
          {{/if}}
          {{#if notification.isSingleMessage}}
            <i class="fa fa-check mark_read"></i>
          {{else if notification.isThread}}
            <i class="fa fa-arrow-right mark_read"></i>
          {{/if}}
        </div>
      </div>

      <div class="row thread_last_message">
        <div class="small-12 columns">
          <div class='ellipsis two-line-ellipsis message-text'>
            {{{apply-line-break notification.text}}}
          </div>
        </div>
      </div>
    </span>
  </div>
</a>
