<div id="{{concat 'stockitAddItemModal' package.id}}" class="stockitAddItemModal ui">

  <section class="main-section receive_package_modal">

    <div class="row single-row {{if hasErrors 'form-errors' 'no-error'}}">
      <div class="small-1 columns">
        <i class="fa fa-exclamation-triangle"></i>
      </div>
      <div class="small-11 columns">

        <div class={{if invalidInventoryNo 'show-error' 'no-error'}}>{{t "receive_package.invalid_inventory"}}</div>

        <div class={{if invalidQuantity 'show-error' 'no-error'}}>{{t "receive_package.invalid_quantity"}}</div>

        <div class={{if invalidDescription 'show-error' 'no-error'}}>{{t "receive_package.invalid_description"}}</div>

        {{#each package.errors.messages as |message|}}
          <div class='show-error'>{{message}}</div>
        {{/each}}

      </div>
    </div>

    <div class="row box-white">

      <div class="row single-row">
        <div class="small-12 columns">
          <b>{{package.packageName}}</b>
        </div>
      </div>

      <div class="row inputs-row">
        <div class="small-12 columns {{if invalidDescription 'has-error'}}">
          {{auto-resize-textarea data-autoresize=true name="notes" value=packageForm.notes placeholder=(t "placeholder.comments") maxlength="50" required="required" pattern=".*\S.*" id=(concat 'notes' package.id)}}
        </div>
      </div>

      <div class="row inputs-row">
        <div class="small-3 columns {{if invalidQuantity 'has-error'}}">
          {{numeric-input id=(concat 'qty' package.id) name="qty" value=packageForm.quantity placeholder=(t "placeholder.qty") maxlength="8" pattern="\d{1,8}"}}
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="small-3 columns">
          {{numeric-input name="length" id=(concat 'length' package.id) value=packageForm.length placeholder=(t "placeholder.length") maxlength="8" pattern="\d{1,8}"}}
        </div>
        <div class="small-3 columns">
          {{numeric-input id=(concat 'width' package.id) name="width" value=packageForm.width placeholder=(t "placeholder.width") maxlength="5" pattern="\d{1,5}"}}
        </div>
        <div class="small-3 columns">
          {{numeric-input id=(concat 'height' package.id) name="height" value=packageForm.height placeholder=(t "placeholder.height") maxlength="5"  pattern="\d{1,5}" }}
        </div>
      </div>

    </div>

    <div class="row inventory-number">
      <div class="small-6 columns">
        {{select-list
          content=grades
          on-change=(action (mut selectedGrade))
          selectedValue=selectedGrade
          value=selectedGrade
          selectArrow=true }}
      </div>

      <div class="small-6 columns">
        {{select-list
          content=donorConditions
          on-change=(action (mut selectedCondition))
          selectedValue=selectedCondition
          value=selectedCondition
          selectArrow=true }}
      </div>
    </div>

    {{inventory-number-input inputId=(concat 'inventory_number' package.id) value=packageForm.inventoryNumber packageId=package.id invalid=invalidInventoryNo name="inventoryNumber" }}

    <div class="row inventory-number">
      <div class="small-12 columns">
        {{custom-select2 content=locations record=location recordId=locationId placeholder=(t "receive_package.add_location")}}
        <i class="fa fa-map-marker {{if isAndroidDevice 'small-marker'}}"></i>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <a class="button expand secondary closeLink action1" {{action 'moveBack'}}>{{t "receive_package.cancel"}}</a>
      </div>
      <div class="small-6 columns">
        <button class="button expand action2 confirmLink" {{action 'receivePackage'}}>{{t "receive_package.receive"}}</button>
      </div>
    </div>
  </section>

</div>
