{{partial 'offers/nav_bar'}}

<section class="main-section review_offer">
  <div class="row">
    <div class="small-12 columns tab_row">
      <dl class="tabs" data-tab>

        {{#link-to 'scheduled.collection' tagName="dd" classNames="small-4 columns text-center"}}
          {{#link-to 'scheduled.collection'}}
            <div>{{t 'scheduled.collection'}}({{collectionCount}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'scheduled.gogovan' tagName="dd" classNames="small-4 columns text-center"}}
          {{#link-to 'scheduled.gogovan'}}
            <div>{{t 'scheduled.gogovan'}}({{ggvCount}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'scheduled.other_delivery' tagName="dd" classNames="small-4 columns text-center"}}
          {{#link-to 'scheduled.other_delivery'}}
            <div>{{t 'scheduled.other_delivery'}}({{dropOffCount}})</div>
          {{/link-to}}
        {{/link-to}}
      </dl>
    </div>
  </div>

  {{outlet}}
</section>
