{{#visit-page-start}}
  <div class="row fixed_item_type_search">
    <div class="small-12 columns search-box ui">
      {{focus-textfield
        name="searchText"
        id="searchText"
        placeholder=(t "search_item_label")
        value=searchText }}

      {{#if hasSearchText}}
        <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
      {{/if}}
      <a href="#" {{action "cancelSearch"}}>{{t "cancel"}}</a>
    </div>
  </div>

  <section class="main-section review_offer search users item_types_result">
    <div class="row">
      <div class="small-12 columns item-content">
        {{#if filteredResults}}
          <ul class="list list-activity list-offer-items">
            {{#each filteredResults as |type|}}
              <li {{action "assignItemLabel" type}}>
                <div class="package_name">{{type.name}}</div>
                <div>{{type.otherTerms}}</div>
              </li>
            {{/each}}
          </ul>
        {{else if hasFilter}}
          <div class='no_result'>{{t "search.no_results"}}</div>
        {{/if}}
      </div>
    </div>
  </section>
{{/visit-page-start}}
