<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'users' classNames='back'}}{{t 'back'}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{user.fullName}}</h1>
  </section>
</nav>

<section class="main-section user-profile">
  <div class="row">
    <div class="small-12 columns ui">
      <span class="form-label">{{t "user.permission"}}:</span>

      <ul class="radio-buttons">
        <li class="radio">
          {{radio-button name="permission" selection=selectedId value="-1" id="-1" }}
          <label class="radio-wrap small-only-text-center" for="-1">
            Donor
          </label>
        </li>

        {{#each permissions as |permission|}}
          <li class="radio">
            {{radio-button name="permission" selection=selectedId value=permission.id id=permission.id }}
            <label class="radio-wrap small-only-text-center" for={{permission.id}}>
              {{permission.name}}
            </label>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

<div class="btm">
  <div class="row">
    <div class="small-6 columns">
      {{#link-to "users" classNames="button expand secondary"}}
        {{t "cancel"}}
      {{/link-to}}
    </div>
    <div class="small-6 columns">
      {{#online-button action="saveUser" classNames="button expand"}}{{t "save"}}{{/online-button}}
    </div>
  </div>
</div>
